@use '../../styles/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.lesions {
   
    &__content {
        display: flex;
        flex-direction: column;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    &__header {
        text-align: center;
        padding-bottom: 1rem;
    }

    &__text {
        text-align: center;
        font-size: 0.8rem;
    }
}