@use '../../styles/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.record {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.7);
    border-radius: 3px;
    height: 8rem;

    &__image {
        background-color: $slate;
        flex-grow: 3;
    }

    &__title {
        padding: 0.5rem;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    &__text {
        font-size: 0.7rem;
        background-color: $light-grey;
        border: none;
        padding: 0;
        margin: 0;
        width: auto;

        &:hover {
            background-color: $light-grey;
            color: $secondary-blue;
        }

        &--expand {
         
        }
    }
}