@use '../../styles/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.loading {
    display: flex;
    justify-content: center;
    
    &__text {
        @include inner-area;
        padding: 1rem;
        text-align: center;
    }

    &__text-link {

    }
}

.dashboard {

    &__upper {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $light-grey;

        @include desktop {
            padding: 0 1rem;
        }
    }

    &__lower {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
            flex-direction: row;
            justify-content: center;
            align-items: baseline;
            justify-content: space-between;
        }

        @include desktop {
           
        }
    }

    &__hero {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 1rem;
        justify-content: space-between;

        @include desktop {
            padding: 1.5rem 4rem;
        }
    }
    
    &__hero-header {
        font-size: 0.8rem;
        font-weight: 400;

        @include desktop {
            font-size: 1.3rem;
        }
    }

    &__recent {
        @include inner-area;
        border-bottom: 1px solid $primary-text;
        padding-bottom: 0.5rem;

        @include tablet {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1rem;
            border-bottom: none;
        }

        @include desktop {
            width: 20%;
            border-right: 1px solid $primary-text;
        }
    }

    &__recent-text {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 0;
    }

    &__recent-header {
        padding-top: 0.7rem;
        padding-left: 1rem;
        text-align: center;
    }  
    
    &__recent-span {
        padding: 0.2rem 1rem;
        font-size: 0.8rem;
        color: $slate;
        text-align: center;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
            flex-direction: row;
            align-items: baseline;
        }

        @include desktop {
            flex-direction: column;
            width: 50%; 
        }
    }

    &__tips {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 1rem;
        border-bottom: 1px solid $primary-text;
        padding-bottom: 0.5rem;

        @include tablet {
            border-bottom: none;
        }

        @include desktop {
            align-items: center;
        }
    }

    &__tips-text {

        @include desktop {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 2rem;

            @include tablet {
                flex-direction: row;
            }
        }
    }

    &__tips-header {
       font-size: 1.5rem;
       text-align: center;
    }

    &__terms {
        @include inner-area;
        background: url('../../assets/images/arm.png') rgba(0, 0, 0, 0.7);
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply; 
        position: relative;
        padding: 2rem 0;

        @include tablet {
            margin-top: 2.5rem;
        }

        @include desktop {
            padding: 4rem;
        }
    }

    &__terms-overlay {
        background: url('../../assets/images/arm.png') rgba(0, 0, 0, 0.7);
        @include overlay;
    }

    &__terms-header {
        font-size: 1.5rem;
        padding-bottom: 1rem;
        color: white;

        @include desktop {
            font-size: 3rem;
        }
    }

    &__terms-text {
        font-size: $body-fontsize;
        padding: 0.5rem 1rem;
        font-weight: 600;
        color: white;

        @include desktop {
            font-size: 1.2rem;
            line-height: 2rem;
            font-weight: 400;
        }
    }

    &__pics {
        @include inner-area;
        padding: 0.5rem 1rem;
        background: url('../../assets/images/molecam.png') rgba(0, 0, 0, 0.7);
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply;
        position: relative;
        padding: 3rem 0;
        
        @include desktop {
            padding: 4rem;
        }
    }

    &__pics-overlay {
        background: url('../../assets/images/molecam.png') rgba(0, 0, 0, 0.7);
        @include overlay;
    }

    &__pics-header {
        font-size: 1.5rem;
        padding-bottom: 1rem;
        color: white;

        @include desktop {
            font-size: 3rem;
        }
    }

    &__pics-text {
        font-size: $body-fontsize;
        padding: 0.5rem 1rem;
        font-weight: 600;
        color: white;

        @include desktop {
            font-size: 1.2rem;
            line-height: 2rem;
            font-weight: 400;
        }
    }

    &__warnings {
        @include inner-area;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include desktop {
            width: 20%;
        }
    }

    &__warnings-header {
        font-size: 1.5rem;

        @include desktop {
            font-size: 1.5rem;
            text-align: center
        }
    }

    &__signs {
        background: url('../../assets/images/earlydet.jpeg') rgba(0, 0, 0, 0.4);
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply;
        margin-top: 1rem;
        position: relative; 
        display: flex;
        justify-content: center;
        align-items: center;  
        padding: 4.5rem 0;

        @include tablet {
            margin: 0 2rem;
            margin-top: 4.3rem;
        }
    }

    &__signs-overlay {
        background: url('../../assets/images/earlydet.jpeg') rgba(0, 0, 0, 0.4);
        @include overlay;
    }

    &__signs-header {
        color: white;
        text-align: center;

        @include desktop {
            font-size: 3rem;
        }
    }

    &__signs-text {
        text-align: center;
        font-size: $body-fontsize;
        font-weight: 600;
        padding: 1rem;
        color: white;

        @include desktop {
            font-size: 1.2rem;
            padding: 3rem 1rem;
            font-weight: 400;
        }
    }

    &__signs-img {
        width: 100%;

        &:hover {
            cursor: pointer;
        }
    }
}