@use '../../styles/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.loading {
          
    &__text {

    }
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $light-grey;

    &__header {

    }
    
    &__header-text {
        padding: 0.5rem;
        font-size: 0.9rem;
        font-weight: 600;

    }

    &__recent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: $background-blue;
    }

    &__recent-header {
        padding: 0 1rem;
        font-size: 1.2rem;
    }   

    &__new {
        @include inner-area;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.5rem;
    }

    &__new-text {
        text-align: left;
    }

    &__new-button {
        margin-left: 5rem;
    }

    &__records {
        @include inner-area;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
    }

    &__records-text {
        text-align: left;
    }

    &__records-button {

    }
              
    &__diagram {
        display: none;

        @include tablet {
            display: flex;
        }
        &--img {
            @include inner-area;
        }
    }

    &__terms {
        @include inner-area;
    }

    &__terms-header {
        font-size: 1.2rem;
    }

    &__terms-text {
        font-size: $body-fontsize;
    }
}