@use '../../styles/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.loading {
          
    &__text {

    }
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $light-grey;

    &__nav {
        display: flex;
        justify-content: space-between;
        background-color: $slate;
        width: 100%;
        margin-top: -0.5rem;
        padding: 0.5rem;
    }

    &__nav-item {

    }

    &__nav-link {
        color: $light-grey;
        font-size: $body-fontsize;
        padding-bottom: 0.5rem;
        padding: 0 0.5rem;

        &:hover {
            cursor: pointer;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
            flex-direction: row;
            align-items: flex-start;
        }
    }

    &__hero {
        display: flex;
        width: 100%;
        padding: 1rem;
    }
    
    &__hero-header {
        font-size: 0.9rem;
        font-weight: 600;

    }

    &__recent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: #DEDEDE;
        border-radius: 3px;
        padding-bottom: 1rem;

        @include tablet {
            width: 30%;
            align-items: center;
        }
    }

    &__recent-header {
        padding-top: 0.7rem;
        padding-left: 1rem;
        font-size: 1.2rem;
    }   
              
    &__diagram {
        display: none;

        @include tablet {
            display: flex;
            width: 30%
        }
        &--img {
            @include inner-area;
        }
    }

    &__terms {
        @include inner-area;
        background-color: $background-blue;
        padding: 0.5rem 1rem;

        @include tablet {
            width: 30%;
            height:fit-content;
        }
    }

    &__terms-header {
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }

    &__terms-text {
        font-size: $body-fontsize;
        padding-bottom: 0.5rem;
        font-weight: 600;
    }
}