@use './variables' as *;

@mixin tablet {
    @media (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-breakpoint) {
        @content;
    }
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../../assets//fonts/PlayfairDisplay-Regular.ttf') format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../../assets//fonts/PlayfairDisplay-Medium.ttf') format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../../assets//fonts/PlayfairDisplay-Bold.ttf') format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../../assets//fonts/BebasNeue-Regular.ttf') format("truetype");
    font-weight: 400;
}

button {
    width: 9rem;
    margin: 0.5rem;
}

@mixin inner-area {
    width: 90%;
    background-color: $light-grey;
    margin: 1rem 0;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.7);
}

@mixin record-box {
    display: flex;
    width: 50%;
    align-items: center;
    padding-left: 0.5rem;
}