//Colors 
$background-blue: #A6BBC8;
$secondary-blue: #588BAE;
$light-grey: #F7F8F9;
$cloud: #BDC5D5;
$slate: #5C667E; 
$primary-text:#13182C;
$powder: #B0DFE5;

//Breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//Font
$body-fontsize: 0.8rem;
