//Colors 
$background-blue: #A6BBC8;
$secondary-blue: #E2FAF8;
$light-grey: #F5F5F5;
$cloud: #DEDEDE;
$slate: #5C667E; 
$primary-text:#13182C;
$powder: #B0DFE5;
$background-green: #99aca8;
$accent: #dcd4dc;

//Header Vars
$color1: $primary-text;
$color2: white;
$color3: $cloud;

$bar-height: 3px;
$bar-width: 19px;

//Breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//Font
$body-fontsize: 0.8rem;
