//Colors 
$background-blue: #A6BBC8;
$secondary-blue: #0099cc;
$light-grey: #F7F8F9;
$slate: #5C667E; 
$primary-text:#13182C;

//Breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
