@use './partials/variables' as *;
@use './partials/mixins' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display';
    color: $primary-text;
    background-color: $light-grey;
}

a {
    text-decoration: none;
    color: $color1;
    font-weight: 600;
}

button {
    background-color: $background-blue;
    color: $primary-text;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    font-family: 'Playfair Display', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 0.9rem;

    &:hover {
        cursor: pointer;
        background-color: $primary-text;
        color: white;
    }

}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }