@use '../../styles/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.signup {
    display: flex;
    justify-content: center;

    &__inner {
        width: 90%;
        border-radius: 3px;
        box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
        background-color: $light-grey;
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            justify-content: space-around;
        }
    }
    
    &__hero {
        background-color: $slate;
    }

    &__hero-header {

    }

    &__form {

    }

    &__form-header {

    }

    &__form-inputs {

    }

    &__form-field {

    }

    &__form-submit {

    }

    &__form-button {

    }

    &__form-login {
        color: $primary-text;
    }
}