@use '../../styles/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.signup {
    display: flex;
    justify-content: center;

    &__inner {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 1rem 0;

        @include tablet {
            flex-direction: row;
            justify-content: space-around;
        }
    }
    
    &__hero {
        background-image: url('../../assets/images/dermatoscope.jpg');
        background-size: cover;
        border-radius: 3px;
        box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
        padding-top: 6rem;
        display: flex;
        flex-direction: column;

        @include tablet {
            width: 50%;
            padding-top: 0;
            height: 100%;
        }
    }

    &__hero-header1 {
        text-align: left;
        padding: 0.5rem 0 0 1rem;
    }

    &__hero-header2 {
        text-align: left;
        padding: 0 0 0.5rem 1rem;
    }

    &__form {
        border-radius: 3px;
        box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
        display: flex;
        flex-direction: column;
        padding: 1rem;
        background-color: $light-grey;

        @include tablet {
            width: 50%;
        }
    }

    &__form-header {

        &--text {
            font-size: 1rem;
            font-style: italic;
            padding-bottom: 0.5rem;
        }
    }

    &__form-inputs {

    }

    &__form-field {

    }

    &__form-submit {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__form-button {
        margin-bottom: 1rem;
    }

    &__form-login {
        color: $slate;
    }
}