@use '../../styles/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.logo {
   width: 50%;

    &__letter {
        color: $primary-text;
        font-family: 'Montserrat';
        font-size: 2rem;
        text-shadow: -0.08em 0.03em 0.12em rgba(0, 0, 0, 0.5);
    }
}

// div span:not(:first-child) {
//     margin-left: -0.05rem;
// }