@use '../../styles/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.records-list {
    list-style-type: none;
    padding: 0.5rem;
    display: flex;

    @include tablet {
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        width: 50%;

        @include tablet {
            width: 30%;
        }

        @include desktop {
            width: 20%;
        }
    }
}

.records-list__recent {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   

    @include tablet {
    
    }

    @include desktop {
        flex-direction: column;
        border-right: 1px solid $primary-text;
        align-items: center;
    }

    &__recent-item {
        width: 30%;
    }
}