@use '../../styles/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.input-field {
    display: flex;
    flex-direction: column;

    &__label {
        margin-bottom: 0.3rem;
        text-align: left;
        font-size: 0.8rem;
    }

    &__input {
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        padding: 0.5rem;
        font-size: inherit;
        width: auto;

        @include tablet {
            width: 10rem;
        }
    }
}