@use '../../styles/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.input-field {
    display: flex;
    flex-direction: column;

    &__label {
        margin-bottom: 0.3rem;
        margin-top: 0.3rem;
        text-align: left;
        font-size: 0.8rem;
    }

    &__input {
        margin-bottom: 1rem;
        margin-right: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 0.5rem;
        font-size: 0.8rem;
        font-family: 'Montserrat';
        width: 100%;
        border: 1px solid $slate;

        &--err {
            border: 1px solid red;
            border-radius: 4px;
            padding: 0.5rem;
            font-size: 0.8rem;
        }
    }
}