@use '../../styles/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    padding: 0 0.5rem;

    @include desktop {
        padding: 1rem 7rem
    }
    
    &__login {
        margin-top: -0.2rem;
        font-size: $body-fontsize;

        @include tablet {
            font-size: 1rem;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

*, *:before, *:after {
    box-sizing: border-box;
}

.menu-wrapper {
    position: relative;
    z-index: 5;
}

.menu {
    position: relative;
    width: $bar-width;
    height: $bar-height;
    background-color: $color1;
    user-select: none;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    margin: 5px;
    color: $color2;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-transform:translate3d(0,0,0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    
    label {
        cursor: pointer;
        position: absolute;
        margin-left: 5px;
        font-family: 'Playfair Display', sans-serif;
        font-size: $body-fontsize;
        color: $color1;
        line-height: $bar-height*5;
        top: -$bar-height*2;
        left: $bar-width + $bar-height*2;

        @include tablet {
            font-size: 1rem;
        }
    }
    
    &:hover > ul.nav-links, &.open > ul.nav-links {
        transition: all 0.25s ease-in-out;
        opacity: 1;
        width: $bar-width*5;
        transform: translateX(15px);
        pointer-events: auto;
    }
    
    &:after, &:before {
        content: "";
        position: absolute;
        width: $bar-width;
        height: $bar-height;
        background-color: $color1;
        transition: all 0.25s ease-in-out;
    }
    
    &:after {
        top: $bar-height*2;
    }
    
    &:before {
        top: -$bar-height*2;
    }
    
    &:hover, &.open {
        background-color: transparent;
    }
    
    &:hover::after, &:hover::before, &.open::after, &.open::before {
        transition: all 0.3s ease-in-out;
        width: $bar-width/1;
    }
    
    &:hover::after, &.open::after {
        transform: translate($bar-height/3.2, -5.5px) rotate(405deg);
    }
    
    &:hover::before, &.open::before {
        transform: translate($bar-height*3.7 ,7px) rotate(-405deg);
    }
    
    ul.nav-links {
        margin: 0;
        padding: $bar-width 0 0 0;
        opacity: 0;
        transform: translateX(-15px);
        transition: all 0.25s ease-in-out;
        position: absolute;
        width: 0;
        height: 0;
        pointer-events: none;
        
        li {
            width: 100%;
            padding: 4px 8px;
            list-style-type:none;
            font-family: 'Playfair Display';
            font-size: 1rem;
            text-transform: uppercase;
            transition: all 0.25s ease-in-out;
            background-color: $cloud;
            padding: 1rem 8rem 1rem 1rem;

            &:hover, &.active {
                color: $color2;
                background-color: $primary-text;
            }
        }
    }
}

.nav-links__link {
    color: $color1;
}