@use '../../styles/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid rgba(216, 216 , 216, .5);
    padding: 1rem;
    background-image: linear-gradient(to top, $background-blue, white);

    @include desktop {
        padding: 1rem 7rem
    }

    &__dropdown {
        position: relative;
        display: inline-block;

        &:hover .dropdown-content {
            display: block;
        }
    }

    &__dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        z-index: 1;
    }

    &__dropdown-content a {
        display: block;
        color: $slate;
        padding: 0.5rem;
        &:hover {
            background-color: $background-green;
        }
    }
}

.dropbtn {
    padding-right: 1rem;
    
    &__img {
        width: 3rem;
        height: 3rem;
    }
}