@use '../../styles/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.login {
    display: flex;
    justify-content: center;

    &__inner {
        width: 90%;
        background-color: $light-grey;
        margin: 1rem;

        @include tablet {
            display: flex;
        }

        @include desktop {
            margin: 1rem 10rem;
        }
    }
    
    &__hero {
        background-image: url('../../assets/images/hero.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 3px;

        @include tablet {
            width: 50%;
        }
    }

    &__hero-header {
        padding: 0.5rem 0 7rem 0.5rem;
        text-align: left;
    }

    &__form {
        border-radius: 3px;
        padding: 1rem;

        @include tablet {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @include desktop {
            background-color: rgba(0, 0, 0, 0.1);
            padding: 6rem 0;
        }
    }

    &__form-userinfo {
        display: flex;
        flex-direction: column;

        @include tablet {
            align-items: center;
        }
    }

    &__form-header {

        &--text {
            font-size: 1rem;
            font-style: italic;
            padding-bottom: 0.5rem;
        }
    }

    &__form-field {
        padding: 0.5rem;
    }

    &__status {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;

        &--reg {
            text-align: center;
            font-weight: 400;
            font-size: $body-fontsize;
        }

        &--err {
            color: red;
            text-align: center;
            font-weight: 400;
            font-size: $body-fontsize

        }
    }

    &__form-submit {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__form-button {
        margin-bottom: 1rem;
    }

    &__form-login {

    }

    &__form-link {
        color: $slate;
    }
}                    