@use '../../styles/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.record-details {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;

    &__main {
        position:fixed;
        background: white;
        width: 80%;
        height: 90%;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        padding: 1rem 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border: 1px solid $primary-text;
        border-radius: 5px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: $light-grey;

        @include tablet {
            width: 70%;
        }

        @include desktop {
            height: 60%;
            width: 40%;
        }
    }

    &__close { 

        &:hover {
            cursor: pointer;
        }
    }

    &__buttons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;

        &--delete {
            width: 1rem;

            &:hover {
                cursor: pointer;
            }
        }

        &--edit {
            width: 1rem;
            margin-right: 0.5rem;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &__sections {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0.5rem;
    }
    
    &__section {
        background-color: white;
        position: relative;
        padding: 0.5rem;
        margin: 0.5rem;
        width: 40%;
        height: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-left: 1px solid $slate;
        border-bottom: 1px solid $slate;

        &--image {
            width: 80%;
            height: 8rem;

            @include tablet {
                width: 40%;
                margin-right: 6rem;
                margin-left: 6rem;
            }

            @include desktop {
                width: 50%;
                height: 10rem;
            }
        }

        &--special {
            width: 80%;
        }
    }
    &__pic {
        width: 100%;
        height: 100%;
    }

    &__text {
        font-size: 0.6rem;
        font-weight: 600;
        text-align: center;
    }

    &__input {
        font-size: 0.6rem;
        font-weight: 400;
        text-align: center;
        padding: 0 0.5rem;

        &--small {
            font-size: $body-fontsize;
        }
    }
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}