@use '../../styles/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.home {
    background-color: $light-grey;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__hero {
        background: url('../../assets/images/hero.jpg') rgba(0, 134, 179, 0.2);
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply;
        padding-top: 9rem;
        display: flex;
    }

    &__hero-header {
        font-weight: 600;
        font-size: 1.8rem;
        text-align: left;
        padding: 0 0 0.5rem 0.5rem;
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0.5rem;
    }

    &__text-box {
        font-size: $body-fontsize;
        font-weight: 600;
        line-height: 1rem;
        padding: 0.5rem 0;

        &--mim {
            color: $secondary-blue;
            font-weight: 800;
            font-size: 1rem;
            text-shadow: -0.08em 0.03em 0.12em rgba(0, 0, 0, 0.1);
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__info-header {
        width: 95%;
        border-radius: 2px;
        box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.4);
        background-color: #dcd4dc;
        padding: 0.5rem;
        margin: 1rem 0;
    }

    &__info-heading {
        text-align: center;
        font-size: 1.5rem;
        padding: 0.5rem;
        font-weight: 600;

        &--mim {
            font-weight: 800;
            text-shadow: -0.08em 0.03em 0.12em rgba(0, 0, 0, 0.25);
        }
    }

    &__info-textbox {
        display: flex;
        flex-direction: column;

        padding: 1rem;
    }


    &__info-list {
        padding: 0.5rem 1rem;
        list-style-type: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__list-item {
        font-size: $body-fontsize;
        font-style: italic;
        font-weight: 600;
        padding: 0 0.5rem;
        border-left: 2px solid $secondary-blue;

        &:nth-child(3) {
            border-right: 2px solid $secondary-blue;
        }

        &:nth-child(5) {
            border-right: 2px solid $secondary-blue;
        }
    }

    &__info-text {
        font-size: $body-fontsize;
        text-align: center;
        font-style: italic;
    }
           
    &__info-cta {
        text-align: left;
        font-size: $body-fontsize;
        padding: 0.5rem;
        text-align: center;
        
    }

    &__info-link {
        color: $secondary-blue;
        font-weight: 800;
        font-style: italic;
        padding-right: 0.7rem;
    }

    &__lesions {
        display: flex;
        justify-content: center;
    }

    &__lesions-inner {
        width: 90%;
        border-radius: 5px;
        box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.7);
        background-color: $background-blue;
        padding: 0.5rem;
        margin: 1rem 0;
    }

    &__lesions-header {
        font-size: 1.2rem;
        padding: 0.5rem;
        text-align: left;
    }

    &__lesions-text {
       display: flex;
       flex-direction: column;
       padding: 0.5rem;
    }

    &__lesions-span {
        font-size: $body-fontsize;
        text-align: left;
    }

    &__lesions-link {
        color: white;
        font-size: $body-fontsize;
    }
                
}