@use '../../styles/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.home {
    background: url('../../assets/images/molepic1.jpeg') rgba(0, 134, 179, 0.2);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-attachment: fixed;
    display: flex;
    justify-content: center;

    &__inner {
        margin: 1rem 0;
        width: 90%;
    }
    &__hero {
        background-color: $light-grey;
        border: 3px solid $background-blue;
        border-radius: 5px;
        padding: 0.5rem;
        padding-bottom: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__hero-header {
        padding-bottom: 1rem;
        font-weight: 800;
        font-size: 1.7rem;
        text-align: left;
    }

    &__hero-textbox {
        width: 50%;
    }

    &__hero-text {
        font-size: 0.7rem;
        line-height: 1rem;
        padding: 0.5rem 0;

        &--mim {

        }
    }

    &__info {
        display: flex;
        justify-content: center;
    }

    &__info-inner {
        width: 90%;
        border-radius: 5px;
        box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.7);
        margin-top: -3.5rem;
        background-color: $cloud;
        padding: 0.5rem;
    }

    &__info-header {

    }

    &__info-textbox {

    }

    &__info-text {

    }
           
    &__info-cta {

    }

    &__info-link {
        color: $slate;
        padding-right: 0.5rem;
    }
                
}