@use '../../styles/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.home {
    background-color: $light-grey;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__lower {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include desktop {
            padding: 0 8rem;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
            flex-direction: row;
        }

        @include desktop {
            flex-direction: column
        }
    }

    &__info-header {
        @include inner-area;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
            width: 40%;
            padding: 2rem 1rem;
            margin: 1rem;
        }

        @include desktop {
            width: 80%;
        }
    }

    &__text-box {
        font-size: 1rem;
        font-weight: 600;
        line-height: 1rem;
        padding: 0.5rem 0;
        text-align: center;

        @include tablet {
            line-height: 2rem;
        }

        &--mim {
            font-weight: 800;
            font-size: 2rem;
            text-shadow: -0.08em 0.03em 0.12em rgba(0, 0, 0, 0.1);
        }
    }

    &__info-heading {
        text-align: center;
        font-size: 1.5rem;
        padding: 0.5rem;
        font-weight: 600;

        &--mim {
            font-weight: 800;
            text-shadow: -0.08em 0.03em 0.12em rgba(0, 0, 0, 0.25);
        }
    }

    &__info-content {
        @include inner-area;
        background: url('../../assets/images/mole-shoulder.jpg') rgba(0, 0, 0, 0.1);
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply;    
    }

    &__info-wrapper {
        display: flex;
        flex-direction: column;

        padding: 1rem;

        @include tablet {
            padding-bottom: 0;
        }
    }

    &__info-text {
       text-align: center;
       font-size: $body-fontsize;
       font-weight: 400;
    }


    &__info-list {
        padding: 0.5rem 1rem;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        @include tablet {
            align-items: flex-start;
        }
    }

    &__list-item {
        font-size: $body-fontsize;
        font-weight: 800;
        padding: 0 0.5rem;

        @include tablet {
            display: flex;
            align-items: baseline;
        }

        &--title {

            @include tablet {
                width: 30%;
                padding-right: 4rem;
            }
        }

        &--description {
            display: none;  

            @include tablet {
                display: block;
                font-style: italic;
                font-weight: 400;
                padding: 0.5rem;
                width: 70%;
            }
        }    
    }

    &__cta {
        @include inner-area;
        font-size: $body-fontsize;
        font-weight: 600;
        text-align: center;
        font-style: italic;
        padding: 1rem;

        @include desktop {
            width: 45%;
        }
    }
           
    &__cta-text {
        text-align: left;
        font-size: $body-fontsize;
        text-align: center;
        
    }

    &__cta-link {
        color: $background-blue;
        font-weight: 800;
        font-style: italic;
        padding-right: 0.5rem;
    }

    &__lesions {
        @include inner-area;
        display: flex;
        flex-direction: column;
        background: url('../../assets/images/mirror.jpg') rgba(0, 0, 0, 0.1);
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply;
        padding: 2rem;

        @include desktop {
            justify-content: flex-start;
            width: 45%;
        }
    }

    &__lesions-header {
        font-size: 1.2rem;
        padding: 0.5rem;
        text-align: center;
        color: white;

        @include desktop {
            font-size: 1.5rem;
            text-align: center;
        }
    }

    &__lesions-span {
        font-size: $body-fontsize;
        text-align: center;
        color: white;

        @include desktop {
            font-size: 1rem;
            text-align: center;
        }
    }

    &__lesions-link {
        color: $background-blue;
        font-size: $body-fontsize;
        font-weight: 600;

        @include desktop {
            font-size: 1rem;
            text-align: center;
        }
    }              
}